<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Anime_Quiz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Anime_Jeopardy_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Anime_Quiz.Properties.Settings>
            <setting name="currentFile" serializeAs="String">
                <value />
            </setting>
            <setting name="saveState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tempQuestion" serializeAs="String">
                <value />
            </setting>
            <setting name="tempType" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="reloadPrevious" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autostartSong" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultVolume" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="defaultMusicFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultScreenshotFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="songDuration" serializeAs="String">
                <value>10</value>
            </setting>
        </Anime_Quiz.Properties.Settings>
        <Anime_Jeopardy_3.Properties.Settings>
            <setting name="currentFile" serializeAs="String">
                <value />
            </setting>
            <setting name="saveState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tempQuestion" serializeAs="String">
                <value />
            </setting>
            <setting name="tempType" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="reloadPrevious" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autostartSong" serializeAs="String">
                <value>False</value>
            </setting>
        </Anime_Jeopardy_3.Properties.Settings>
    </userSettings>
</configuration>